 /* Navbar css */
 .bg-body-tertiary {
  padding: 0;
  --bs-navbar-brand-padding-y: 0;
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbar-container-custom {
  border: 1px solid white !important;
  max-width: 97% !important;
  border-radius: 15px;
  background-color: #282c34; /* Added background color to match the Navbar */
}
.nav-link {
  color: #ffffff !important;
  margin-right: 3px;
}
.nav-link:hover,
.AboutBtn:hover {
  color: #5cbcf7 !important;
}
/* .custom-dropdown-toggle .dropdown-toggle::after {
  display: none;
} */
.custom-dropdown-toggle .dropdown-menu {
  left: -55px !important;
  width: 100px !important;
  min-width: 0 !important;          /* to remove the default min-width */
  background-color: #343a40;      /* Added background color to match the Navbar */
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.custom-dropdown-toggle .dropdown-menu a {
  color: #ffffff !important;
}
.custom-dropdown-toggle .dropdown-menu a:hover {
  background-color: #495057;
}



/* spiti Page css */
/* for carousel */
.carousel-indicators  {
  margin-bottom: 1.3rem;
}
/* for accordion */
.accordion {
  --bs-accordion-btn-focus-box-shadow: none;
}
.accordion-header {
  color: #f9f9f9;
  border-radius: 10px;
}
.accordion-header .accordion-button {
  font-weight: 600 !important;
}
/* for list items */
/* li::marker {
  content: '➡️';
  font-size: small;
} */
li {
  margin: 5px 0 5px 0px;
}
/* for enquiry form */
.form-control:focus {
  box-shadow: none;
}



/* Login page css */
.resetPassword {
  display: flex;
  position: absolute;
  align-items: center;                /* Align items at center */
  text-align: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 25px;           /* padding: top right bottom left */
  border: 1px solid #ccc;
  border-radius: 15px;
  z-index: 1000;
  width: 35%;
  margin-top: 5px;
}
.resetPasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin-bottom: 10px;
}
.resetPasswordForm input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 2px;
  border: 1px solid #ccc;
}
.resetPasswordForm input[type="text"]:focus,
.resetPasswordForm input[type="email"]:focus,
.resetPasswordForm input[type="password"]:focus {
  outline: none;
  border-color: #86b7fe;
}
.loginForm input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 2px;
  border: 1px solid #ccc;
}
.loginForm input[type="text"]:focus,
.loginForm input[type="password"]:focus {
  outline: none;
  border-color: #86b7fe;
}




/* Signup page css */
.success-popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);     /* Blackish shade */
  z-index: 999;                               /* Lower than the popup but higher than other content */
}
.success-popup {
  display: flex;
  position: absolute;
  align-items: center;                /* Align items at center */
  text-align: center;
  flex-direction: column;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 25px;           /* padding: top right bottom left */
  border: 1px solid #ccc;
  border-radius: 15px;
  z-index: 1000;
  width: 35%;
  margin-top: 5px;
}
.signupForm input {
  width: 80%;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 2px;
  border: 1px solid #ccc;
}
.signupForm input[type="text"]:focus,
.signupForm input[type="email"]:focus,
.signupForm input[type="password"]:focus {
  outline: none;
  border-color: #86b7fe;
}



/* Footer css */
/* for icons */
.icon {
  color: #fff;
  font-size: 27px;
  transition: color 0.3s, transform 0.3s;
}
.icon:hover {
  color: #5cbcf7;               /* Light blue */
  transform: scale(1.4);
}
/* for grid columns */
.gridColumnLinks {
  color: #858585;
  /*transition: color 0.3s, transform 0.3s;   /* Smooth transition */
  transition: all 0.1s linear;
  transform-origin: left;
}
.gridColumnLinks:hover {
  color: #5cbcf7;               /* Light blue */
  transform: scale(1.1);
}
.gridItems:not(:last-child) {
  border-right: 1px solid #ddd;
}



/* for modal */
/* .modal {
  --bs-modal-margin: 7.0rem;
} */
/* .modal-content {
  width: 50%
} */
.custom-modal-width .modal-content {
  max-width: 300px; /* Adjust this value as needed */
  margin: auto;
}




/* for card body */
.card-body {
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
}




/* for custom tabs in welcome page*/
.custom-tabs .nav-link {
  color: black !important;  /* Set default text color to black */
  background-color: white !important;  /* Set default background color to white */
  border: 1px solid transparent;  /* Ensure there's a border for visual separation */
  font-weight: 500;
  font-size: 13px;
  padding-bottom: 5px;
  border-radius: 10px;
}
.custom-tabs .nav-link:hover {
  /*border-color: #0599fb !important;  /* Change text color to blue on hover */
  background-color: white !important;  /* Keep background color white on hover */
}
.custom-tabs .nav-link.active {
  color: #0599fb !important;  /* Set text color to blue for active tab */
  background-color: white !important;  /* Keep background color white for active tab */
  /*border-color: #0599fb !important;  /* Change border color to blue for active tab */
  border-bottom-color: #0599fb !important;
}





/* ladakh grid css */
/* */
/* .gridContainer {
  display: grid;
  gap: 2px;
  width: 80vw;
  height: 85vh;
  grid-template-columns: repeat(9,auto);    /* make it 3 for 3 columns */
  /* border: 1px solid #ccc;
  margin: 20px auto;
  padding: 5px;
  border-radius: 10px;
  overflow: hidden;
} */
/* .gridItem {
  width: 0; 
  height: 0; 
  min-height: 100%; 
  min-width: 100%; 
  cursor: pointer;
  transition: .35s linear;
}
.gridItem:hover {
  width:  calc(120vh * 1.5/3);
  height: calc(45vw * 1.5/3);
}  */